.principal{
    max-width: 1900px;
    margin: 0 auto;
}
header{
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 0, 0.3)
    ),
    url(../img/portada.jpg);
    height: 480px;
    background-size:cover;
}

.menu{
    position: fixed;
    top:0;
    height: 60px;
    background: red;
    width: 100%;
    max-width: 1900px;
    z-index: 9;
}
.menuTransparente{
    transition: all ease-in-out 0.8s;
    opacity: 0.7;
}
.menu ul {
    text-align: right;
}
.menu ul li{
    display: inline-block;
    text-decoration: none;
}
.img-responsive{
    width: 100%;
}
article{
    background: red;
    margin-top: 50px;
    padding: 20px;
}
.titulaciones{
    position: relative;
    left:0;
    width: 80%;
}
.experiencia{
    position: relative;
    left: 20%;
    width: 80%;
}
.conocimientos{
    position: relative;
    left: 0;
    width: 80%;
}
.mas-info{
    position: relative;
    left: 20%;
    width: 80%;
}

footer{
    height: 300px;
    width: 100%;
    margin-top: 50px;
    background: grey;
}